// Place all the styles related to the CapImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cap-image-container {
  max-width:320px;
  height:auto;
}

#cap-image-container img{
  max-width:100%;

}